py_env/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
*.log
ml-latest.zip
ml-latest/
data/netflix-shows.zip
data/netflix-shows/
.idea/
doc/figures/logos/
ETL/data/netflix-shows.zip
ETL/data/netflix-shows/
ETL/temp.py
ETL/transform_data_testing.py
ETL/ETL_2.py
SQL/exports/*.csv

